{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'admin/css/styles_post_form.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'admin/css/styles_post_detail.css' %}" type="text/css">
{% endblock %}
{% block content %}


<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-3 font-news">
        <h1 class="font-weight-bold">
            {{ post.section_name }}
        </h1>
        
        <div class="d-flex align-items-end">
            <span class="mr-2">{{ post.user.first_name }} {{ post.user.last_name }}</span>
            {% if post.user.user_picture %}
                <a href="{% url 'list_user_posts' post.user.id %}"><img class="img-fluid rounded-circle img-avatar-column" 
                     src="{{ post.user.user_picture.url }}" 
                     alt="Avatar de {{ post.user.first_name }}" 
                     style="width: 80px; height: 80px; object-fit: cover; border: 1px solid #171718;">
                    </a>
            {% else %}
            <a href="{% url 'list_user_posts' post.user.id %}"><div class="rounded-circle bg-light d-flex align-items-center justify-content-center img-avatar-column"
                     style="width: 80px; height: 80px; font-size: 20px; border: 1px solid #171718; background-color: #d9d9d9;">
                    {{ post.user.first_name|slice:":1"|upper }}{{ post.user.first_name|slice:"1:3"|lower }}
                </div></a>
            {% endif %}
        </div>
    </div>
</div>


<hr>
    <h1 class="font-title-preview mt-3">{{post.title}}</h1>
    <p class="font-subtitle-preview">{{post.subtitle}}</p>
   <small>em {{post.created}}</small>  <small class="font-count-views">{{post.textual_genre}}</small>
    <br><br>
    
    {% if post.image %}
    <div class="text-center">
        <figure>
            <img src="{{ post.image.url }}" alt="Imagem do post" class="img-fluid img-headline mt-3">
            <figcaption>{{ post.title }}</figcaption>
        </figure>
    </div>

    {% endif %}
  

<div class="font-paragraph-preview">    
    {{ post.main_text|linebreaks}}</div>
<br>
<p class="font-italic">{{post.user.presentation}}</p>


{% if user.is_authenticated and user == post.user %}
<a href="{% url 'posts:update_post' post.id %}" class="fas fa-2x fa-edit mr-2 ml-2 p-2"></a>

<a href="{% url 'posts:delete_post' pk=post.pk %}" class="fas fa-2x fa-trash mr-2 ml-2 p-2"></a>

{% endif %}



</div>


{% endblock %}