{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'admin/css/styles_post_form.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'admin/css/styles_post_detail.css' %}" type="text/css">
{% endblock %}

{% block content %}

<div class="container">
    <div class="d-flex justify-content-between align-items-center mt-3 border-bottom">
           <h1 class="font-section-title font-weight-bold">
            {% if not post.textual_genre.textual_genre == 'fanfic' %}
           {{ post.section_name }}
           {% else %}
           {{post.textual_genre}}
           {% endif %}
        </h2>

        <div class="show-icons-mobile">
            {% if post.section_name.section_name == "saude" %}
                <a href="{% url 'posts:index_health' %}" class="fas fa-heartbeat fa-2x"></a>
                <a href="{% url 'posts:index_health' %}"><p>{{post.section_name}}</p></a>
            {% elif post.section_name.subsection_name == "literatura" %}
                <a href="{% url 'posts:list_literature' %}" class="fas fa-book mr-1 fa-2x"></a>
                <a href="{% url 'posts:list_literature' %}"><p>{{post.section_name}}</p></a>
            {% elif post.section_name.subsection_name == "games" %}
                <a href="{% url 'posts:list_games' %}" class="fas fa-gamepad fa-2x"></a>
                <a href="{% url 'posts:list_games' %}"><p>{{post.section_name}}</p></a>
            {% elif post.section_name.subsection_name == "comida" %}
                <a href="{% url 'posts:list_food' %}" class="fas fa-birthday-cake mr-2 fa-2x"></a>
                <i class="fas fa-hamburger fa-2x"></i>
                <a href="{% url 'posts:list_food' %}"><p>{{post.section_name}}</p></a>
            {% elif post.section_name.subsection_name == "artes" %}
                <a href="{% url 'posts:list_arts' %}" class="fas fa-pencil-alt mr-2 fa-2x"></a>
                <i class="fas fa-palette fa-2x"></i>
                <a href="{% url 'posts:list_arts' %}"><p>{{post.section_name}}</p></a>
            {% elif post.section_name.subsection_name == "cinema_tv" %}
                <a href="{% url 'posts:list_cinema' %}" class="fas fa-film mr-2 fa-2x"></a>
                <a href="{% url 'posts:list_cinema' %}"><p>{{post.section_name}}</p></a>
            {% elif post.section_name.section_name == "opiniao" %}
                <a href="{% url 'posts:index_opinion' %}" class="fas fa-lightbulb fa-2x"></a>
                <a href="{% url 'posts:index_opinion' %}"><p>{{post.section_name}}</p></a>
            {% elif post.section_name.section_name == "mundo" %}
                <a href="{% url 'posts:index_world' %}" class="fas fa-globe fa-2x"></a>
                <a href="{% url 'posts:index_world' %}"><p>{{post.section_name}}</p></a>
            {% elif post.section_name.section_name == "brasil" %}
                <a href="{% url 'posts:index_brazil' %}" class="fas fa-globe fa-2x"></a>
                <a href="{% url 'posts:index_brazil' %}"><p>{{post.section_name}}</p></a>
            {% endif %}
        </div>

        <div class="d-flex align-items-end">
            <span class="mr-2">{{ post.user.first_name }} {{ post.user.last_name }}</span>
            {% if post.user.user_picture %}
                <a href="{% url 'accounts:list_user_posts' post.user.id %}">
                    <img class="img-fluid rounded-circle img-avatar-column" 
                         src="{{ post.user.user_picture.url }}" 
                         alt="Avatar de {{ post.user.first_name }}" 
                         style="width: 80px; height: 80px; object-fit: cover; border: 1px solid #171718;">
                </a>
            {% else %}
                <a href="{% url 'accounts:list_user_posts' post.user.id %}">
                    <div class="rounded-circle bg-light d-flex align-items-center justify-content-center img-avatar-column"
                         style="width: 80px; height: 80px; font-size: 20px; border: 1px solid #171718; background-color: #d9d9d9;">
                        {{ post.user.first_name|slice:":1"|upper }}{{ post.user.first_name|slice:"1:3"|lower }}
                    </div>
                </a>
            {% endif %}
        </div>
    </div>

    <div class="d-flex justify-content-end align-items-end flex-sm-row">
        {% if post.user.user_linkedin %}
        <a href="{{ post.user.user_linkedin }}" target="_blank" class="text-primary mx-2" data-toggle="tooltip" title="Perfil no LinkedIn">
            <i class="fab fa-linkedin fa-2x"></i>
        </a>
        {% endif %}
        {% if post.user.user_instagram %}
        <a href="{{ post.user.user_instagram }}" target="_blank" class="text-danger mx-2" data-toggle="tooltip" title="Perfil no Instagram">
            <i class="fab fa-instagram fa-2x"></i>
        </a>
        {% endif %}
        {% if post.user.user_facebook %}
        <a href="{{ post.user.user_facebook }}" target="_blank" class="text-primary mx-2" data-toggle="tooltip" title="Perfil no Facebook">
            <i class="fab fa-facebook fa-2x"></i>
        </a>
        {% endif %}
        {% if post.user.user_youtube %}
        <a href="{{ post.user.user_youtube }}" target="_blank" class="text-danger mx-2" data-toggle="tooltip" title="Canal no YouTube">
            <i class="fab fa-youtube fa-2x"></i>
        </a>
        {% endif %}
    </div>
</div>


<h2 class="font-title-preview mt-3">{{ post.title }}
    {% if selected_chapter %} 

    - Capítulo {{selected_chapter.chapter_number}}
    {% endif %}
</h2>
{% if not selected_chapter %}
{% if post.subtitle %}
    <p class="font-subtitle-preview">{{ post.subtitle }}</p>
{% endif %}
{% endif %}
{% if selected_chapter %}

<p class="font-subtitle-preview">{{ selected_chapter.title }}</p>

{% endif %}
<small>em {{ post.created }}</small> <small class="font-count-views">{{ post.textual_genre }}</small>
<br><br>

{% if not selected_chapter %}
{% if post.image %}
    <div class="text-center">
        <figure>
            <img src="{{ post.image.url }}" alt="Imagem do post" class="img-fluid img-headline mt-2 img-border-radius">
            {% if post.is_illustration_done %}
            <figcaption class="mt-2">Ilustrado por {{ post.illustrator.first_name}} {{ post.illustrator.last_name }}
                {% if post.illustrator.user_instagram %}
                <a href="{{ post.illustrator.user_instagram }}" target="_blank" class="mx-1">
                    <i class="fab fa-2x fa-instagram"></i>  
                </a>
                {% endif %}
                {% if post.illustrator.user_linkedin %}
                <a href="{{ post.illustrator.user_linkedin }}" target="_blank" class="mx-1">
                    <i class="fab fa-2x fa-linkedin"></i>  
                </a>
                {% endif %}
            </figcaption>
            {% else %}
            <figcaption>{{ post.title }} </figcaption>
            {% endif %}
        </figure>
    </div>
{% endif %}
{% endif %}

{% if not selected_chapter %}
<div class="font-paragraph-preview">
    {{ post.main_text|linebreaks }}
</div>
{% endif %}

{% if selected_chapter %}
<div class="font-paragraph-preview">
    {{selected_chapter.content }}
</div>

{% endif %}


<br>
<p class="font-italic">{{ post.user.presentation }}</p>

<div class="d-flex justify-content-end mt-2">
    <i class="fas fa-share"></i>
    <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}" target="_blank" class="mx-2" data-toggle="tooltip" title="Compartilhar no WhatsApp">
        <i class="fab fa-whatsapp fa-2x text-success"></i>
    </a>
    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ post.title }}" target="_blank" class="mx-2" data-toggle="tooltip" title="Compartilhar no Twitter">
        <i class="fab fa-twitter fa-2x text-primary"></i>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank" class="mx-2" data-toggle="tooltip" title="Compartilhar no Facebook">
        <i class="fab fa-facebook fa-2x text-primary"></i>
    </a>
</div>

{% if user.is_authenticated and user == post.user %}
    <a href="{% url 'posts:update_post' post.id %}" class="fas fa-2x fa-edit mr-2 ml-2 p-2"></a>
    <a href="{% url 'posts:delete_post' pk=post.pk %}" class="fas fa-2x fa-trash mr-2 ml-2 p-2"></a>
{% endif %}

{% if user.is_artist and post.is_illustration_done == False and post.is_asking_for_illustration == True %}
    <a href="{% url 'posts:update_image_illustration' post.id %}" class="fas fa-2x fa-paint-brush mr-2 ml-2 p-2" title="Ilustrar a publicação de {{ user.first_name }} {{ user.last_name }}"></a>
{% endif %}

{% if post_chapters %}
<div class="mt-4">
    <label for="chapterSelector" class="font-weight-bold">Outros capítulos dessa fanfic:</label>
    <form id="chapterFilterForm" method="get" action="{% url 'posts:detail_text' post.id %}">
        <select id="chapterSelector" class="form-control w-50" name="chapter_id">
            <option value="">Selecione...</option>
            {% for chapter in post_chapters %}
                <option value="{{ chapter.id }}" {% if chapter.id == selected_chapter_id %} selected {% endif %}>
                    {{ chapter.chapter_number }} - {{chapter.title}}
                </option>
            {% endfor %}
        </select>
        <button id="filterButton" type="button" class="btn btn-primary mt-2">Ir para</button>
    </form>
</div>

<div class="mt-4">
    {% if selected_chapter %}
     
  
    {% endif %}
</div>
{% endif %}

{% block script_js %}
<script src="{% static 'admin/js/script_detail_main.js' %}"></script>

{% endblock %}


{% endblock %}
