  {% extends 'base.html' %}
  {% load static %}

  {% block extrahead %}     
      <link rel="stylesheet" href="{% static 'admin/css/styles_post_list.css' %}"> 
  {% endblock %}
  

    {% block content %}
    
    {% for text in object_list %}
 
     <li>
         <a class="list-elements" href="{% url 'posts:detail_text' text.id %}">{{text.main_text|slice:":100"}}</a>
         <small>por {{text.user}}</small>
     </li>
 
 
         {% if user.is_authenticated and user == text.user %}
         <ul>
             <li>
                 <a href="{% url 'posts:update_post' text.id %}">Editar texto</a>
 
             </li>
         </ul>
         {% endif %}    
         
     {% endfor %} 
 
     {% endblock %}
 
 


  
  
  