<div class="container-fluid bg-dark text-white">
  <footer id="main-footer" class="py-4 text-center">
    <div class="row">
      <!-- Informações Pessoais -->
      <div class="col-md-6 mb-3">
        <h5>José Costa</h5>
        <p class="lead">Desenvolvedor Full Stack | Doutor em Linguística e Programador</p>
        <p>Email: <a href="mailto:jose@example.com" class="text-white">jose@example.com</a></p>
        <p>Telefone: (XX) XXXX-XXXX</p>
      </div>

      <!-- Redes Sociais -->
      <div class="col-md-6">
        <h5>Siga-me nas Redes Sociais</h5>
        <ul class="list-inline">
          <li class="list-inline-item mx-2">
            <a href="https://www.linkedin.com/in/jos%C3%A9-costa-9b86b22a9/" class="fab fa-linkedin fa-2x text-white" target="_blank"></a>
          </li>
          <li class="list-inline-item mx-2">
            <a href="https://github.com/carlosjuniorcosta1" class="fab fa-github fa-2x text-white" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>

    <!-- Direitos Autorais -->
    <div class="row">
      <div class="col-12 mt-2">
        <p class="mb-0">&copy; <span class="year"></span> José Costa | Todos os direitos reservados.</p>
      </div>
    </div>
  </footer>
</div>
