<nav class="navbar navbar-expand-lg bg-light menu-items">
      
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Início</a>

        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'posts:list_texts' %}">Ler e editar</a>
        </li>
          
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'posts:create_post' %}">Publicar</a>
        </li>
     
        <li class="nav-item active">
          <a class="nav-link" href="#"> Enem <span class="sr-only">(current)</span></a>
        </li> 
        <li class="nav-item active">
          <a class="nav-link" href="#"> Sobre <span class="sr-only">(current)</span></a>
        </li>  
  
   
      </ul>
      <ul class="navbar-nav ml-auto">
     {% if user.is_authenticated %}
     {% csrf_token %}   


<li class="nav-item"> 
  <a href="{% url 'dashboard' %}" class="nav-link">Olá, {{user.username}}</a>
</li>
<li class="nav-item mr-3">
  <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
    <i class="fas fa-sign-out-alt"></i> Logout
  </a>
  <form action="{% url 'logout' %}" method="POST" id="logout">
    {% csrf_token %}
    <input type="hidden">
  </form>
</li>

     {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
      </ul>
 
    </div>
  </nav>