{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Página 2 <span class="sr-only">(current)</span></a>
        </li>      

      </ul>
      <ul class="navbar-nav ml-auto">
     {% if user.is_authenticated %}
     {% csrf_token %}   

     {% if '/' in request.path %} 

<li class="nav-item"> 
  <a href="{% url 'dashboard' %}" class="nav-link">Olá, {{user.username}}</a>
</li>
<li class="nav-item mr-3">
  <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
    <i class="fas fa-sign-out-alt"></i> Logout
  </a>
  <form action="{% url 'logout' %}" method="POST" id="logout">
    {% csrf_token %}
    <input type="hidden">
  </form>
</li>

{% endif %}
     {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Registrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}
      </ul>
 
    </div>
  </nav>