{% load static %}

{% block extrahead %} 
<link rel="stylesheet" href="{% static 'admin/css/styles_essay_index.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light menu-items">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active nav-item-divider">
        <a class="nav-link" href="{% url 'index' %}">Início</a>
      </li>
   
      <li class="nav-item active nav-item-divider">
        <a class="nav-link" href="{% url 'posts:index_essay' %}">Por dentro da redação</a>
      </li>

      <li class="nav-item active nav-item-divider">
        <a class="nav-link" href="{% url 'review_essay:list_user_essays' %}">Redações corrigidas</a>
      </li>


      {% if user.is_essay_editor %}
      <li class="nav-item active nav-item-divider">
        <a class="nav-link" href="{% url 'review_essay:list_essay_editors' %}">Corrigir</a>
      </li>
      {% endif %}   
  
    </ul>
  </div>
</nav>

