{% extends "base.html" %}
{% load static %}
{% load form_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'admin/css/styles_review_essay.css' %}">
{% endblock %}

{% block content %}

<style>
    #canvas {
      border: 1px solid black;
    }
    #textBox {
      position: absolute;
      z-index: 10;
      background-color: transparent;
    }
  </style>

<div class="container-fluid mt-3 col-sm-12 col-xm-12">
    <div class="row">

        <div class="row mb-3 sticky-top" style="z-index: 1030; top:0">
            <div class="col-12 d-flex justify-content-start align-content-start">
                <a href="{% url 'review_essay:list_essay_editors' %}" class="btn btn-secondary m-1">
                    <i class="fas fa-arrow-left"></i> 
                </a>
                <button id="btn-draw" class="btn btn-dark m-1">
                    <i class="fas fa-pencil-alt"></i> 
                </button>
                <button id="textBoxButton" class="btn btn-info m-1">
                    <i class="fas fa-font"></i> 
                </button>
                <button id="undoButton" class="btn btn-warning m-1">
                    <i class="fas fa-undo"></i> 
                </button>
               
                <button id="downloadButton" class="btn btn-success m-1">
                    <i class="fas fa-download"></i>
                </button>
                   
            <label for="increaseFontButton" class="form-label m-1">
               <button class="btn btn-dark"><i class="fas fa-text-height"></i></button> 
            </label>
<select id="increaseFontButton" class="form-select form-select-sm m-1">
    <option value="14">14px</option>
    <option value="16">16px</option>
    <option value="18">18px</option>
    <option value="20">20px</option>
    <option value="24">24px</option>
    <option value="28">28px</option>
    <option value="32">32px</option>
</select>
<button class="btn btn-white">
            <input type="color" id="colorPicker" value="#000000" />

        </button>
    
            </div>
        <div class="col-12 col-sm-12">
            <canvas id="canvas" width="1000" height="1400" style="border:1px solid #000; display: block; margin: 0 auto;"></canvas>
            <input type="hidden" id="canvas_image_data" name="canvas_image_data">

            <input type="text" id="textBox" placeholder="Digite aqui" />

           
            <form method="POST" enctype="multipart/form-data" class="mt-4" id="form-grade-editor">
                {% csrf_token %}


                <!-- Campo C1 -->
                <div class="form-group">
                    <label for="id_c1" class="form-label">
                        <i class="fas fa-pencil-alt"></i> C1
                    </label>
                    <input type="number" id="id_c1" name="c1" value="{{ form.c1.value|default:'' }}" class="form-control required-field" placeholder="Valor de 0-200">
                </div>
                
                <!-- Comentário para C1 -->
                <div class="form-group">
                    <label for="id_about_c1" class="form-label">
                        <i class="fas fa-comments"></i> Comentário - C1
                    </label>
                    <textarea id="about_c1" name="about_c1" class="form-control required-field" placeholder="Comentário sobre C1">{{ form.about_c1.value|default:'' }}</textarea>

                </div>
                
                <!-- Campo C2 -->
                <div class="form-group">
                    <label for="id_c2" class="form-label">
                        <i class="fas fa-pencil-alt"></i> C2
                    </label>
                    <input type="number" id="id_c2" name="c2" value="{{ form.c2.value|default:'' }}" class="form-control required-field" placeholder="Valor de 0-200">
                </div>
            
                <!-- Comentário para C2 -->
                <div class="form-group">
                    <label for="id_about_c2" class="form-label">
                        <i class="fas fa-comments"></i> Comentário - C2
                    </label>
                    <textarea id="about_c2" name="about_c2" class="form-control required-field" placeholder="Comentário sobre C2">{{ form.about_c2.value|default:'' }}</textarea>

                </div>
                
                <!-- Campo C3 -->
                <div class="form-group">
                    <label for="id_c3" class="form-label">
                        <i class="fas fa-pencil-alt"></i> C3
                    </label>
                    <input type="number" id="id_c3" name="c3" value="{{ form.c3.value|default:'' }}" class="form-control required-field" placeholder="Valor de 0-200">
                </div>
            
                <!-- Comentário para C3 -->
                <div class="form-group">
                    <label for="id_about_c3" class="form-label">
                        <i class="fas fa-comments"></i> Comentário - C3
                    </label>
                    <textarea id="about_c3" name="about_c3" class="form-control required-field" placeholder="Comentário sobre C3">{{ form.about_c3.value|default:'' }}</textarea>

                </div>
                
                <!-- Campo C4 -->
                <div class="form-group">
                    <label for="id_c4" class="form-label">
                        <i class="fas fa-pencil-alt"></i> C4
                    </label>
                    <input type="number" id="id_c4" name="c4" value="{{ form.c4.value|default:'' }}" class="form-control required-field" placeholder="Valor de 0-200">
                </div>
            
                <!-- Comentário para C4 -->
                <div class="form-group">
                    <label for="id_about_c4" class="form-label">
                        <i class="fas fa-comments"></i> Comentário - C4
                    </label>
                    <textarea id="about_c4" name="about_c4" class="form-control required-field" placeholder="Comentário sobre C4">{{ form.about_c4.value|default:'' }}</textarea>

                </div>
                
                <!-- Campo C5 -->
                <div class="form-group">
                    <label for="id_c5" class="form-label">
                        <i class="fas fa-pencil-alt"></i> C5
                    </label>
                    <input type="number" id="id_c5" name="c5" value="{{ form.c5.value|default:'' }}" class="form-control required-field" placeholder="Valor de 0-200">
                </div>
            
                <!-- Comentário para C5 -->
                <div class="form-group">
                    <label for="id_about_c5" class="form-label">
                        <i class="fas fa-comments"></i> Comentário - C5
                    </label>
                    <textarea id="about_c5" name="about_c5" class="form-control required-field" placeholder="Comentário sobre C5">{{ form.about_c5.value|default:'' }}</textarea>

                </div>
                <div class="form-group">
                    <label for="correction_image" class="form-label">
                        <i class="fas fa-image"></i> Imagem da correção
                    </label>


                    {% if essay.correction_image %}
                    <p><strong>Imagem de correção enviada:</strong> {{ essay.correction_image.name }}</p>
                {% endif %}
                    <input type="file" id="correction_image" name="correction_image" class="form-control" style="display: none;">
                </div>

           <div class="form-group">
            <div class="mt-2 mb-2">
            <button type="button" id="recordButton" class="btn btn-danger">
                <i class="fas fa-microphone"></i> 
            </button>
            <button type="button" id="stopButton" class="btn btn-secondary" disabled>
                <i class="fas fa-stop"></i> 
            </button>
            <button type="button" id="deleteButton" class="btn btn-warning" style="display: none;">
                <i class="fas fa-trash"></i> 
            </button>
        </div>
         

            <p id="recordingTime" style="font-weight: bold; display: none;">Tempo de gravação: 0s</p>

            <input type="file" id="audioFile" name="audio_feedback" accept="audio/*" style="display: none;" class="form-control">
            {% if essay.audio_feedback %}
            <p class=""><strong>Áudio já gravado:</strong> {{ essay.audio_feedback.name }}</p>         
        {% endif %}

            <audio id="audioPlayer" controls style="display: none;" class="mt-2"></audio>
            
           </div>                
                
                <!-- Botão de envio -->
                <button id="sendCorrection" type="submit" class="btn btn-success mt-2" name="mark_as_reviewed">
                    <i class="fas fa-paper-plane"></i> Salvar e corrigir outra
                </button>             
         
        <div>
                <button id="sendToStudent" type="submit" name="mark_as_finished" value="True" class="btn btn-danger mt-5">
                    <i class="fas fa-check"></i> Enviar ao aluno
                </button>
            </div>


            </form>
        
        </div> 

    
    </div>


</div>
{% if essay.essay_image and essay.correction_image %}
<script>
var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
var img = new Image();
var correctionImg = new Image();
img.src = "{{ essay.correction_image.url }}";
</script>
{% endif %}
{% if not essay.correction_image %}
<script>
var canvas = document.getElementById('canvas');
var ctx = canvas.getContext('2d');
var img = new Image();
var correctionImg = new Image();
img.src = "{{ essay.essay_image.url }}";
</script>
{% endif %}
{% endblock %}

{% block script_js %}
<script>
const textBox = document.getElementById('textBox');
const undoButton = document.getElementById('undoButton')
const textBoxButton = document.getElementById('textBoxButton');
const downloadButton = document.getElementById('downloadButton');

let currentFontSize = 14;

const increaseFontButton = document.getElementById("increaseFontButton");
img.onload = function() {
    ctx.drawImage(img, 0, 0, canvas.width, canvas.height); }

let isDragging = false;
let offsetX, offsetY;

let currentColor = colorPicker.value; // 

colorPicker.addEventListener('input', (event) => {
  currentColor = event.target.value; //
});

increaseFontButton.addEventListener("change", function () {
            currentFontSize = parseInt(increaseFontButton.value)
            console.log(currentFontSize) 
            textBox.style.fontSize = `${currentFontSize}px`; 
        });


let textEntries = []

function showtextBox(x, y) {
  textBox.style.left = `${canvas.offsetLeft + x}px`;
  textBox.style.top = `${canvas.offsetTop + y}px`;
  textBox.style.display = "block";
  textBox.focus();
}
function addTextToCanvas() {
  const text = textBox.value;
  const x = parseInt(textBox.style.left) - canvas.offsetLeft;
  const y = parseInt(textBox.style.top) - canvas.offsetTop;

  textEntries.push({text,  x, y, color: currentColor, fontSize: currentFontSize})

ctx.font = `${currentFontSize}px Arial`
  ctx.fillStyle = currentColor; 
  ctx.fillText(text, x, y);

  textBox.value = ""; 
  textBox.style.display = "none"; 
}

function redrawCanvas(){
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
    textEntries.forEach(entry => {
        ctx.font = `${entry.currentFontSize}px Arial`
        ctx.fillStyle = entry.color,
        ctx.fillText(entry.text, entry.x, entry.y)
    })
    }
canvas.addEventListener("click", function(event) {
  const x = event.offsetX;
  const y = event.offsetY;
  showtextBox(x, y);
});

document.addEventListener('mousedown', function(event) {
  if (event.target === textBox) {
    isDragging = true;
    offsetX = event.offsetX;
    offsetY = event.offsetY;
  }
});

document.addEventListener('mousemove', function(event) {
  if (isDragging) {
    const x = event.pageX - offsetX;
    const y = event.pageY - offsetY;
    textBox.style.left = `${x}px`;
    textBox.style.top = `${y}px`;
  }
});

document.addEventListener('mouseup', function() {
  isDragging = false;
});

textBox.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    addTextToCanvas();
  }
});

undoButton.addEventListener('click', function(){
    if(textEntries.length > 0) {
        textEntries.pop();
        redrawCanvas()
    }
})

textBoxButton.addEventListener('click', function() {
    if (textBox.style.display === "none") {
      showtextBox(50, 50); 
    } else {
      textBox.style.display = "none"
    }
  });

  downloadButton.addEventListener('click', function(){
    const dataURL = canvas.toDataURL('image/png');

    const downloadLink = document.createElement('a')
    downloadLink.href = dataURL
    downloadLink.download = "correction_{{essay.user.first_name}}{{essay.user.last_name}}.png"
    downloadLink.click()   
    
  })
document.getElementById("btn-draw").addEventListener('click', function(){
    canvasImageDataInput = document.getElementById('canvas_image_data')

    textEntries.forEach( entry => {
        console.log(`Texto: ${entry.text} x: ${entry.x} y: ${entry.y}`)
        ctx.fillText(entry.text, entry.x, entry.y);

    })
    dataURL = canvas.toDataURL('image/png')
    canvasImageDataInput.value = dataURL
    
    const byteString = atob(dataURL.split(',')[1]);
    const mimeString = dataURL.split(',')[0].split(':')[1].split(';')[0];
    const ab = new ArrayBuffer(byteString.length);

    const ia = new Uint8Array(ab);
    for (let i = 0; i < byteString.length; i++) {
            ia[i] = byteString.charCodeAt(i);        }

        const blob = new Blob([ab], { type: mimeString });
        const file = new File([blob], 'correction_{{essay.user.first_name}}_{{essay.user.last_name}}.png', { type: mimeString });

        const dataTransfer = new DataTransfer();
        dataTransfer.items.add(file);
        console.log(dataTransfer)
        const fileInput = document.getElementById('correction_image');
        fileInput.files = dataTransfer.files;

})

let mediaRecorder;
let audioChunks = [];
let recordingTime = 0;
let timerInterval;

const recordButton = document.getElementById('recordButton');
const stopButton = document.getElementById('stopButton');
const deleteButton = document.getElementById('deleteButton');
const audioPlayer = document.getElementById('audioPlayer');
const audioFile = document.getElementById('audioFile');
const recordingTimeDisplay = document.getElementById('recordingTime');

if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
  recordButton.addEventListener('click', () => {
    navigator.mediaDevices.getUserMedia({ audio: true }).then(stream => {
      mediaRecorder = new MediaRecorder(stream);
      mediaRecorder.start();

      recordingTime = 0;
      recordingTimeDisplay.textContent = `Tempo de gravação: 0s`;
      recordingTimeDisplay.style.display = 'block';

      timerInterval = setInterval(() => {
        recordingTime++;
        recordingTimeDisplay.textContent = `Tempo de gravação: ${recordingTime}s`;
      }, 1000);

      recordButton.disabled = true;
      stopButton.disabled = false;

      mediaRecorder.ondataavailable = event => {
        audioChunks.push(event.data);
      };

      mediaRecorder.onstop = () => {
        clearInterval(timerInterval);
        recordingTimeDisplay.style.display = 'none';

        const audioBlob = new Blob(audioChunks, { type: 'audio/mpeg' });
        audioChunks = [];
        const audioURL = URL.createObjectURL(audioBlob);
        audioPlayer.src = audioURL;
        audioPlayer.style.display = 'block';

        const file = new File([audioBlob], "audio_feedback.mp3", { type: 'audio/mpeg' });
        const dataTransfer = new DataTransfer();
        dataTransfer.items.add(file);
        audioFile.files = dataTransfer.files;
        audioFile.style.display = 'block';
        deleteButton.style.display = 'inline-block';
      };
    });
  });

  stopButton.addEventListener('click', () => {
    mediaRecorder.stop();
    recordButton.disabled = false;
    stopButton.disabled = true;
  });

  deleteButton.addEventListener('click', () => {
    audioPlayer.src = '';
    audioPlayer.style.display = 'none';
    audioFile.value = '';
    deleteButton.style.display = 'none';
  });
} else {
  alert('O seu navegador não suporta gravação de áudio.');
}

$(document).ready(function() {
  let submitButton = null;

  $("button[name='mark_as_finished']").on("click", function() {
    submitButton = "mark_as_finished";
  });

  $("button[name='mark_as_reviewed']").on("click", function() {
    submitButton = "mark_as_reviewed";
  });

  $("#form-grade-editor").on("submit", function(e) {
    let isValid = true;

    if (submitButton === "mark_as_finished") {
      $(".required-field").each(function() {
        if ($(this).val().trim() === "") {
          $(this).attr("placeholder", "Campo obrigatório");
          $(this).addClass("error error-highlight");
          isValid = false;
        } else {
          $(this).removeClass("error error-highlight");
        }
      });

      if (!isValid) {
        e.preventDefault();
      }
    }
  });
});

document.getElementById('sendToStudent').addEventListener('click', function (event) {
  var audioFileInput = document.getElementById('audioFile');
  var existingAudio = "{{ essay.audio_feedback }}";
  var recordedAudio = audioFileInput.files.length > 0;

  if (!existingAudio && !recordedAudio) {
    event.preventDefault();
    var recordingTimeMessage = document.getElementById('recordingTime');
    recordingTimeMessage.style.display = 'block';
    audioFileInput.style.display = 'block';
    audioFileInput.style.backgroundColor = '#ffcccc';
  }
});


  
  



    
</script>
{% endblock %}
