{% extends 'base.html' %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'admin/css/styles_list_user_posts.css' %}">
{% endblock %}
{% block content %}

<div class="container-fluid my-2 col-sm-12 col-xm-12">
    {% for post in posts %}
    {% if forloop.counter == 1 %}
    <div class="d-flex justify-content-between align-items-center mb-1">
        <h3 class="border-bottom">{{ post.user.first_name }} {{ post.user.last_name }}</h3>
        {% if post.user.user_picture %}
        <span class=" d-flex justify-content-center">
            <img class="img-avatar-column" src="{{ post.user.user_picture.url }}" alt="">
        </span>
        {% endif %}
    </div>

    <!-- Apresentação com ícones das redes sociais -->
    <div class="d-flex justify-content-between align-items-end flex-column flex-sm-row">
        <p class="font-italic border-bottom">{{ post.user.presentation }}</p>

        <!-- Ícones das redes sociais -->
        <div class="social-icons">
            <!-- LinkedIn -->
             {% if post.user.user_linkedin %}
            <a href="{{ post.user.user_linkedin }}" target="_blank" class="text-primary mx-2" data-toggle="tooltip" title="Perfil no LinkedIn">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            {% endif %}
            {% if post.user.user_instagram %}
            <!-- Instagram -->
            <a href="{{ post.user.user_instagram }}" target="_blank" class="text-danger mx-2" data-toggle="tooltip" title="Perfil no Instagram">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
            {% endif %}
            {% if post.user.user_facebook %}
            <a href="{{ post.user.user_facebook }}" target="_blank" class="text-primary mx-2" data-toggle="tooltip" title="Perfil no Facebook">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            {% endif %}

            {% if post.user.user_youtube %}        
            <!-- YouTube -->
            <a href="{{ post.user_youtube }}" target="_blank" class="text-danger mx-2" data-toggle="tooltip" title="Canal no YouTube">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            {% endif %}
        </div>
    </div>
    <h5 class="mt-2">Publicações</h5>
    {% endif %}
    {% endfor %}

    <div class="row">
        {% for post in posts %}
        <div class="col-lg-3 col-md-4 mb-4 col-sm-12">
            <div class="card h-100 shadow-sm">
                <a href="{% url 'posts:detail_text' post.id %}">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <div class="d-flex justify-content-between align-items-center">
                            <h5 class="card-title">{{ post.title }}</h5>
                        </div>
                        {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid post-image">
                        {% endif %}
                    </div>
                </a>
            </div>
        </div>
        {% empty %}
        <p class="text-center">Nenhum post encontrado para este usuário.</p>
        {% endfor %}
    </div>
</div>

<!-- Media Queries para Responsividade -->
<style>
    .post-image {
        width: 100%;
        height: 200px; /* Altura padrão */
        object-fit: cover; /* Mantém a proporção da imagem, cortando se necessário */
    }

    @media (max-width: 768px) {
        .social-icons {
            margin-top: 10px; /* Espaço acima dos ícones em dispositivos móveis */
            display: flex;
            justify-content: center; /* Centraliza os ícones em dispositivos móveis */
        }
        .social-icons a {
            margin: 0 10px; /* Espaçamento uniforme entre os ícones */
        }
    }
</style>

{% endblock %}
