{% extends "base_culture.html" %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'admin/css/styles_culture_arts.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <h2 id="animated-title" class="animated-title text-start"></h2>
    <div class="row">
        {% for post in illustrated_posts %}
        {% if forloop.counter < 9 %}
        <div class="col-md-4 mb-4 animation-card border-bottom p-2">
            <div class="card shadow">
                
                <!-- Cabeçalho verde do card -->
                <div class="card-header bg-success text-white text-center">
                    <h5 class="mb-0">{{post.textual_genre}} de {{post.user.first_name}} {{post.user.last_name}}</h5>
                </div>

                <div class="card hover-3d">
                    <a href="{% url 'posts:detail_text' post.id %}">
                        <img src="{{ post.image.url }}" class="card-img-top" alt="Ilustração do post">
                    </a>
                    <div class="card-footer">
                        <p class="card-text text-center">
                        Ilustração de {{ post.illustrator.first_name }} {{ post.illustrator.last_name }}
                        {% if post.illustrator.user_instagram %}
                        <a href="{{ post.illustrator.user_instagram }}" target="_blank" class="mx-1">
                            <i class="fab fa-2x fa-instagram"></i>
                        </a>
                        {% endif %}
                        {% if post.illustrator.user_linkedin %}
                        <a href="{{ post.illustrator.user_linkedin }}" target="_blank" class="mx-1">
                            <i class="fab fa-2x fa-linkedin"></i>
                        </a>
                        {% endif %}

                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        {% empty %}
        <p>Sem ilustrações recentes disponíveis no momento.</p>
        {% endfor %}
    </div>

    {% if culture_arts_posts_comic %}
    <h2 id="animated-title-2" class="animated-title-comic mt-2"></h2>

    <div class="row">
        {% for post in culture_arts_posts_comic %}
        {% if forloop.counter < 9 %}

        <div class="col-md-6 mb-2 animation-card-2">
            <div class="card hover-3d mb-3">
                <!-- Cabeçalho verde do card para a seção Comic -->
                <div class="card-header  text-center">
                    <h5 class="mb-0">{{post.title}}</h5>
                </div>
                <a href="{% url 'posts:detail_text' post.id %}">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="Ilustração do post">
                </a>
                <div class="card-footer">
                    <p class="card-text text-center">
                    Por {{ post.illustrator.first_name }} {{ post.illustrator.last_name }}
                    {% if post.illustrator.user_instagram %}
                    <a href="{{ post.illustrator.user_instagram }}" target="_blank" class="mx-1">
                        <i class="fab fa-2x fa-instagram"></i>
                    </a>
                    {% endif %}
                    {% if post.illustrator.user_linkedin %}
                    <a href="{{ post.illustrator.user_linkedin }}" target="_blank" class="mx-1">
                        <i class="fab fa-2x fa-linkedin"></i>
                    </a>
                    {% endif %}
                    </p>

                </div>
            </div>
        </div>
        {% endif %}

        {% empty %}
        <p>Sem ilustrações recentes disponíveis no momento.</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}

{% block script_js %}
<script src="{% static 'admin/js/script_culture_arts.js' %}"></script>
{% endblock %}
