{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <!-- Seção Cultura e Artes -->
    <h2 class="mb-4">Cultura e Artes</h2>
    <div class="row">
        {% for post in culture_arts_posts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.subtitle }}</p>
                    <a href="{% url 'posts:detail_text' post.pk %}" class="btn btn-primary">Ver mais</a>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Publicado em {{ post.created|date:"d/m/Y" }} por {{ post.user.first_name }}</small>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Sem posts culturais e de artes disponíveis no momento.</p>
        {% endfor %}
    </div>

    <!-- Seção Ilustrações Recentes -->
    <h2 class="mt-5 mb-4">Ilustrações solicitadas</h2>
    <div class="row">
        {% for post in illustrated_posts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="{{ post.image.url }}" class="card-img-top" alt="Ilustração do post">
                <div class="card-body">
                    <p class="card-text">Ilustrado por {{ post.illustrator.first_name }} {{ post.illustrator.last_name }}</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Ilustrado em {{ post.updated|date:"d/m/Y" }}</small>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Sem ilustrações recentes disponíveis no momento.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
