{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-start mb-4">Criar questão</h1>

    <form method="post" enctype="multipart/form-data" class="shadow p-4 rounded bg-light">
        {% csrf_token %}
        <div class="mb-4 border-bottom">
            <div class="mb-4">
                {% if messages %}
                    <div class="alert alert-success">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <h4 class="mt-4 mb-3">Questão</h4>

            {{ form.as_p }}
        </div>

        <h4 class="mt-4 mb-3">Alternativas</h4> <span><p>Alternativas sem texto e sem imagem são desconsideradas automaticamente</p></span>
        <div id="answer-formset" class="mb-4">
            {{ answer_formset.management_form }}
            {% for form in answer_formset %}
            <div class="answer-item border rounded p-3 mb-3 bg-white">
                <div class="row">
                    <div class="col-md-10">

                        {{ form.as_p }}
                    </div>
                    <div class="col-md-2 d-flex align-items-center justify-content-center">
                        <button type="button" class="remove-answer btn btn-danger btn-sm">
                            Remover
                        </button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-answer" class="btn btn-secondary mb-4">Adicionar alternativa</button>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
    </form>

</div>
{% block script_js %}
<script src="{% static 'admin/js/script_create_question.js' %}"></script>
{% endblock %} 


{% endblock %}
