{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'admin/css/styles_quiz_main_dj.css' %}">
{% endblock %}

{% block content %}

<h1 class="font-weight-bold mt-3 font-news">Questões</h1>
<hr>
<div class="row justify-content-center">

    {% for item in object_list %}
        {% if item.quiz_subject == 'lingua_portuguesa' or item.quiz_subject == 'legislacao' %}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-2">
            <a href="{% url 'quizes:portuguese-language-quiz' %}">
                <div class="card h-100 text-center mt-3 format-card shadow-sm">
                    <div class="card-body d-flex flex-column align-items-center">
                        <!-- Escolha de imagem com base no quiz_subject -->
                        {% if item.quiz_subject == 'lingua_portuguesa' %}
                            <img src="https://4.bp.blogspot.com/_tnP3YYrgmNQ/TBZgWwsI47I/AAAAAAAAAAc/9egIJbB8Gp8/s1600/nuvem_palavras.jpg" alt="Língua Portuguesa" class="img-fluid img-avatar-column-languages mb-2">
                        {% elif item.quiz_subject == 'legislacao' %}
                            <img src="https://img.freepik.com/vetores-premium/icone-preto-da-lei-simbolo-do-tribunal-sinal-do-martelo_53562-16956.jpg" alt="Legislação" class="img-fluid img-avatar-column-languages mb-2">
                        {% endif %}
                        <h3 class="font-quiz-card link-card">{{ item.quiz_subject_hum }}</h3>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    {% endfor %}

</div>

{% endblock %}
