{% extends 'base.html' %}
{% load form_tags %}
{% load static %}

{% block extrahead %}
    <link rel="stylesheet" href="{% static 'admin/css/styles_cuisine.css' %}">
{% endblock %}
{% block content %}       
    <!--primeiro-->
    <div class="row">
        <div class="col-8">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for post in cuisine_posts %}
                    {% if forloop.counter <= 3 %}
                    
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <a href="{% url 'posts:detail_text' post.id %}"><img src="{{post.image.url}}" class="img-caro-main img-fluid">
                        <div class="carousel-caption">
                            <h1>{{post.title}}</h1>
                        </div></a>
                    </div>     
                    {% endif %}               
                    {% endfor %}  
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>               
        </div>
        <!--segundo-->
        <div class="col-4 mt-3 p-2 bg-success">
            <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% for post in cuisine_posts %}
                    {% if forloop.counter <= 3 %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <h5>{{ post.title }}</h5>
                                <p class="p-2">{{post.main_text|slice:":400"}} [...]</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            
                <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        </div>
        <div class="row d-flex mt-5">
            <div class="col-md-12">
                <div class="row">
                    {% for post in cuisine_posts %}
                    {% if forloop.counter > 3  and forloop.counter <= 8 %}
                    <div class="col-md-3 p-2">
                        <img src="{{ post.image.url }}" alt="" class="img-fluid">
                        <h5>{{ post.title }}</h5>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row d-flex mt-5">
            <div class="col-md-12">
                <div class="row">
                    {% for post in cuisine_posts %}
                    {% if forloop.counter > 7 %}
                    <div class="col-md-3 p-2">
                        <img src="{{ post.image.url }}" alt="" class="img-fluid">
                        <h5>{{ post.title }}</h5>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

       
        


        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var controls = document.querySelectorAll('.carousel-control-prev, .carousel-control-next');
                controls.forEach(function(control) {
                    control.addEventListener('click', function(event) {
                        event.preventDefault();
                    });
                });
            });
        </script>
        
{% endblock %}
