{% extends 'base.html' %}
{% load static %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'admin/css/styles_quiz_detail_dj.css' %}">
{% endblock %}
{% block script_js %}
<script src="{% static 'admin\js\quiz_dj.js' %}"></script>
{% endblock %} 

{% block content %}
<div class="container mt-4">
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <h2 class="display-4 font-weight-bold text-secondary border-bottom pb-2 mb-4">
                {{ quiz.quiz_subject_hum }}
            </h2>
         
        </div>
    </div>

<form id="quiz-form" action="" method="POST"> 
    {% csrf_token %}
    
    {% for question in questions %}
    <div class="mb-1 text-question card">
        <div class="card-body format-questions">
        <p>{{ forloop.counter }}- <span>(Enem-{{question.year}})</span> {{question.context}}</p>
        {% if question.has_image %} 
        <img src="{{question.question_image}}" alt="" class="img-fluid">
        {% endif %}
        <p>{{question.question}}</p>
     
 
        {% for answer in question.get_answers %}
            <div class="quiz-question form-check">
                <input class="form-check-input" type="radio" id="question{{ question.id }}_answer{{ answer.id }}" name="question{{question.id}}" value="{{ answer.id }}" data-is-correct="{% if answer.is_correct %}true{% else %}false{% endif %}">
                <label class="form-check-label" for="question{{ question.id }}_answer{{ answer.id }}">
                    {% if answer.has_image_alt %}
                    <img src="{{answer.text}}" alt="">
                    
                    {% else %}
                    
                    {{ answer.text }} 
                    {% endif %}
                    {% if answer.is_correct %}
                <span class="correct-answer-indicator" id="correct-answer-indicator"></span>
                {% endif %}</label>             
            </div> 
           
        {% endfor %}
       
    </div>
</div>
 

    {% endfor %}
  
    <button id="buttonSubmit" class="btn btn-primary" type="submit">Submit Quiz</button>
  
</form>




{% endblock %}
