
.list-elements {
    list-style-type: none;
    font-size: 18px;
    text-align: justify;
}


.font-card-header {
    font-family: 'Merriweather', serif;
    font-size: 22px;

}

.font-card-header:hover{
    background: none;
    color: black;
    text-decoration: none;
}


.font-span-genre {
    font-size: 14px;
    text-decoration: underline;
    font-weight: bold;
}

.font-main-text:hover {
text-decoration: none;
color: black; 
}

.font-count-views{
    font-size: 12px;
    font-weight: bold; 
    color: #0e0503; 
    background-color: #f0f0f0; 
    padding: 2px 5px; 
    border-radius: 3px;
}

.font-span-date {
    font-size: 11px;
    margin-left: auto;
}

.icon-effects:hover {
    text-decoration: none;

}

.page-form{
    color:black;

}

nav a:hover,
.pagination a:hover {
    text-decoration: none; 
    color: inherit; 
    background-color: rgb(239, 234, 234); 
}

.mobile-version {
    display: none;
}

.desktop-version {
    display: block;
}

@media (max-width: 768px) {
    .desktop-version{
      display: none;
    }
    .mobile-version {
        display: block;
    }
  }
  

  .card {
    background-color: #f7f7f7; /* Cor de fundo suave */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border: none; /* Remover borda */
  }
  .card-title a {
    color: #333; /* Cor mais discreta para o título */
  }
  .card-text small {
    color: #666; /* Texto mais suave */
  }

  .btn:hover {
    background-color: #23272b; /* Cor um pouco mais escura ao passar o mouse */
  }

  .img-avatar-post-list {
    height: 75px;
    width: 75px;
    filter: grayscale(100%);
    object-fit: cover;
    border-radius: 45%;
   
}