.font-title-preview {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    font-weight: bold;

}

.font-subtitle-preview {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    font-style: italic;
    
}

.font-paragraph-preview {
    font-size: 20px;
    font-family: 'Merriweather', sans-serif;
    text-align: justify;
}