/* Estilos para o elemento de áudio */
audio {
    width: 80%; /* Ajusta a largura do áudio */
    max-width: 400px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza o elemento de áudio */
    display: block; /* Garante que a margem funcione corretamente */
}

