.img-carro {
    width: 600px;
    height: 400px;
}

.text-overlay {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background-color: rgb(29, 26, 26);
}

.img-world {
    border-radius: 10px;
}