
.font-section-title {
    font-family: 'Merriweather', serif;
}


.img-headline {
    width: 50%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.font-count-views{
    font-size: 12px;
    font-weight: bold; 
    color: #0e0503; 
    background-color: #f0f0f0; 
    padding: 2px 5px; 
    border-radius: 3px;
}

.font-paragraph-preview {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 22px;
    line-height: 1.5;
    color: #333;
}

.font-author {
    font-size: 20px;
}

.img-headline {
    object-fit: contain;  
    width: 100%;  
    max-height: 500px;  
}

@media (max-width: 768px) {
    .img-headline {
        max-height: 300px;  
    }
}


@media (max-width: 768px) {
    .font-section-title {
        display: none;
    }

}

.show-icons-mobile {
    display: none;
}

@media (max-width: 768px) {
    .show-icons-mobile {
        display: block;
    }
}

