.bg-success {
    background-color: #d4edda !important; 
    border: 2px dotted rgb(90, 135, 59);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.bg-danger {
    background-color: #f8d7da !important; 
    border: 2px dotted rgb(220, 20, 60);
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;

.form-check {
    border: 1px solid transparent; 
    border-radius: 5px;
}

.bg-success.form-check {
    border-color: #c3e6cb; 
}

.bg-danger.form-check {
    border-color: #f5c6cb; 
}
}

.text-question {
    text-align: justify;
    hyphens: auto;
    font-size: 20px; 

}

.text-answer {
    text-align: justify;
    hyphens: auto;
    font-size: 20px; 
    margin-right: 4px;

}





label span {
    hyphens:auto; 
    font-size:18px; 

}

body {
    font-family: 'Robotto', sans-serif;

}

    


.img-answer {   
    max-width: 250px;
    max-height: 300px;
    display: block;
    margin: 0 auto;
    object-fit: cover;

}

@media (min-width: 768px) {
    .img-answer {
        max-width: 600px;
        height: auto;
        object-fit: cover;
    }
}

@media (min-width: 1200px) {
    .img-answer {
        max-width: 800px;
        height: auto;
    }
}


.img-question {
    width: 100%;
    height: auto;
    max-width: 500px;
    display: block;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .img-answer {
        max-width: 600px;
    }
}

@media (min-width: 1200px) {
    .img-answer {
        max-width: 800px;
    }
}


@media (max-width: 768px) { 
    .btn-number {
        display: none; /
    }
}

