#canvas-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.text-box {
  position: absolute;
  white-space: nowrap;
  width: auto;
  max-width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  font-size: 16px;
  background: transparent;
  color: black;
  border: 1px dashed black;
}


#canvas {
  border: 1px solid #000;
  display: block;
  max-width: 100%; 
  height: auto; 
}

@media (max-width: 768px) { 
  #canvas {
      width: 400px; 
      height: 600px; 
  }
}

