@media (max-width: 768px) {
    .social-icons {
        margin-top: 10px; /* Espaço acima dos ícones em dispositivos móveis */
        display: flex;
        justify-content: center; /* Centraliza os ícones em dispositivos móveis */
    }
    .social-icons a {
        margin: 0 10px; /* Espaçamento uniforme entre os ícones */
    }
}

body {
    font-family: 'Merriweather', sans-serif; 
}

audio {
    width: 60%; /* Ajusta a largura do áudio */
    max-width: 100px; /* Define uma largura máxima */
    margin: 0 auto; /* Centraliza o elemento de áudio */
    display: block; /* Garante que a margem funcione corretamente */
}
